$smallScreen: 1180px;
$bigScreen: 1536px;

$zBaseLayer: 0;
$zSecondLevel: 1;
$zThirdLevel: 2;
$zTopLevel: 3;
$zHeader: 4;
$zOverlay: 5;

@mixin centeredFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centeredFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin cardNameStyle {
  font-size: 110%;
  font-weight: bold;
}

@mixin cardImageStyle {
  border-radius: 0.3rem;
  aspect-ratio: 63 / 88;
}
