@use 'globalDesignElements.module' as *;

.placeholder {
  @include centeredFlexColumn;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  @include pastel(var(--tint, var(--elementBlue)), 70%);
  @include cardImageStyle;
}

.placeholderName {
  @include typoDisplay;
  text-align: center;
  overflow-wrap: anywhere;
  color: var(--secondary-color);
}
