.webNavigation {
  display: flex;
  align-items: center;

  ul {
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    padding: 0;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  li a:hover {
    text-decoration: underline;
  }

  .themeToggle {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}