@use 'globalDesignElements.module' as *;

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  gap: 2rem 1.25rem;
  @media (min-width: $smallScreen) {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2.5rem 1.5rem;
  }
}
