@use 'globalDesignElements.module' as *;

.title {
  @include typoDisplay;
  font-size: 1.15rem;

  a {
    font-size: inherit;
    text-decoration-color: transparent;
  }

  a:hover {
    text-decoration-color: var(--marker);
  }
}
