@use 'globalDesignElements.module' as *;

.inventory {
  margin: 6rem auto 0 auto;
  max-width: 32rem;
  padding: 2rem;
  @include surface;
  @include pastel(var(--elementPeach), 50%);
  text-align: center;
}
