/* Dark Theme Colors */
$neutral-0: #ffffff;
$neutral-400: #949497;
$neutral-900: #1a1a1c;

$violet-400: #846bda;

/* Light Theme Colors */
$bone-1: #faf8f4;
$bone-2: #f2ede5;

$black-1: #232323;
$black-2: #17161a;

$blue-1: #1274cf;

/* Element Colors */
$element-peach: #ffecd1;
$element-pink: #ffc1b3;
$element-blue: #c7e2ff;
$element-blue-variant: #9feeff;
$element-blue-variant-2: #7bfafb;
$element-blue-green-gradient: #83ffd5;
$element-green: #d3f8e2;
$element-green-variant: #a8d3c8;
$element-green-variant-2: #82afad;
