/* Dark Theme Colors */
$neutral-0: #ffffff;
$neutral-400: #a8a8ad;
$neutral-700: #55555a;
$neutral-900: #1a1a1c;

$dark-overlay-8: #26262a;

$primary-400: #a08ce8;
$link-sage: #a3c9b0;

/* Light Theme Colors */
$white-1: #ffffff;
$white-2: #f2f2f4;

$black-1: #1c1c1e;

$grey-2: #c6c6cb;
$grey-4: #6b6b70;

$violet-1: #5b3fc4;
$link-sage-dark: #4e7761;
