@use 'colors' as *;

html[data-theme] {
  --elementPeach: #{$element-peach};
  --elementPink: #{$element-pink};
  --elementBlue: #{$element-blue};
  --elementBlueVariant: #{$element-blue-variant};
  --elementBlueVariant2: #{$element-blue-variant-2};
  --elementBlueGreenGradient: #{$element-blue-green-gradient};
  --elementGreen: #{$element-green};
  --elementGreenVariant: #{$element-green-variant};
  --elementGreenVariant2: #{$element-green-variant-2};

  --card-background-color: color-mix(in srgb, var(--color) 6%, transparent);
  --card-border-color: color-mix(in srgb, var(--color) 18%, transparent);
  --shadow-color: color-mix(in srgb, var(--color) 14%, transparent);
  --scrim-color: color-mix(in srgb, var(--background-color) 75%, transparent);
}

html[data-theme='dark'] {
  --background-color: #{$neutral-900};
  --background-gradient: none;
  --color: #{$neutral-0};
  --marker: #{$neutral-0};

  --primary-color: #{$violet-400};
  --secondary-color: #{$neutral-400};

  color-scheme: dark;
}

html[data-theme='light'] {
  --background-color: #{$bone-1};
  --background-gradient: linear-gradient(170deg, #{$bone-1} 0%, #{$bone-2} 100%);
  --color: #{$black-1};
  --marker: #{$black-2};

  --primary-color: #{$blue-1};
  --secondary-color: #{$neutral-400};

  color-scheme: light;
}
